
.left{
    height: 100%;
    width: 200px;
    user-select: none;
}

.botonera{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.git{
    height: 35px;
    width: 35px;
    margin-bottom: 30px;
    margin-right: 70px;
    cursor: pointer;
}

.link, .face{
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
    margin-right: 70px;
    cursor: pointer;
}

.git:hover , .link:hover, .face:hover{
    filter:drop-shadow(1px 1px 1px  #a972cb);
}



