
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%; 
    width: 100%;
    position: relative;
}

.resume{
    height: 85%;
    width: 87%;
    padding: 50px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fadeIn {
    opacity: 1;
}

.text{
    width: 74%;
    margin-left: 120px;
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.753);
}

.greet {
    color: rgb(0, 233, 202);
    font-size: 18.5px;
}

.henry {
    color: rgba(255, 255, 0, 0.836);
    text-decoration: none;
}
 henry:visited {
    color: rgba(255, 255, 0, 0.836);
 }

.acerca{
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    text-indent: 10px;
}

.logoBox {
    width: 69%;
    height: 148px;
    margin-bottom: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.logos{
    width: 60px;
    height: 60px;
    filter:drop-shadow(1px 1px 1px  #368b8091);
}
.yo {
    align-self: self-start;
    width: 180px;
    border: 1px solid rgba(0, 233, 202, 0.288);
    border-radius: 10px;
    box-shadow: -5px -7px 203px -111px #240038;
    opacity: 0.9;
}

.ana {
    position: absolute;
    margin-top: 340px;
    margin-left: 1080px;
    width: 550px;
    z-index: -1;
    opacity: 0.01;
    filter: grayscale(100%);
}

.cv{
    color: rgb(0, 233, 202);   
}

cv:visited{
    color:#368b80da
}