
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%; 
    width: 100%;
}

.resume{
    height: 85%;
    width: 87%;
    padding: 50px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fadeIn {
    opacity: 1;
}

.text{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logoBox {
    width: 60%;
    height: 150px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.logos{
    width: 60px;
    height: 60px;
    filter:drop-shadow(1px 1px 1px  #368b80da);
}
.yo {
    align-self: self-start;
    width: 180px;
    border: solid 2px rgba(0, 233, 202, 0.288);
    border-radius: 20px;
}

img {
    user-select: none;
}
