:root{
    --white-grey : hsl(0, 0%, 91%);
}


body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    color: var(--white-grey);
    font-family: 'Source Code Pro', monospace; 
    background: linear-gradient(to bottom, #3b134e, #411128);
    background-color: #411128;
    background-attachment: fixed; /* Fija el fondo para que se muestre correctamente al hacer scroll */
    background-size: cover; /* Cubre toda la altura del contenedor */
    
}
  

