:root{
    --white-grey : hsl(0, 0%, 91%);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(to bottom, #3b134e, #411128);
    color: var(--white-grey);
    font-family: 'Indie Flower', cursive;
}
  