.header{
    padding: 27px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.copa {

    cursor: pointer;
    height: 80px;
    margin-left: 25px;
    filter:drop-shadow(3px 3px 3px  rgba(0, 0, 0, 0.568));
}

.copa:hover{
    filter:drop-shadow(3px 3px 3px #a972cb);
}

.botones{
    width: 265px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.btnH{
    cursor: pointer;
    color: white;
    background: none;
    border: 2px solid #a972cb;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    
}
.btnH:hover{

  box-shadow: 0px 2px 4px -7px #000000, 0px 3px 17px 4px rgba(169,114,203,0.39);
}
