

.box {
    width: 500px;
    height: 450px;
    color: black;
    background-color: #aaa9a9;
    border: 1px solid #818181de;
    border-radius: 10px;
    box-shadow: -5px -7px 203px -111px #240038;
}