
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    width: 100%;
    opacity: 0;
    transition: opacity 1.3s ease, transform 1.5s ease;
}

.fadeIn {
    opacity: 1;
  }