
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.fadeIn {
    opacity: 1;
  }


  @media only screen and (max-width: 779px){

    .home{
        justify-content: center;
        height: auto;
    }
  }